@page
@model FreshFarmMarketSecurity.Pages.Account.LogoutModel

<form method="post">
    <button type="submit">Logout</button>
</form>

<p>
    Don't have an account?
    <a asp-page="/Account/Register">Register here</a>
</p>
